.overall{
  display: flex;
  justify-content: space-evenly;
  flex-grow: inherit;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

nav {
  border: 1px solid wheat;
  width: 0;
  
}

a{
  color: bisque;
  list-style-image: none;
  transition: 5000ms
}

body {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-type: none;
}

.container{
  display: grid;
  width: 50%;
  letter-spacing: 0;
  padding: 0px;
  text-align: center;
  background-color: rosybrown;
  transition: visibility, 3000ms;
  /* transition: padding 600px; */
  transition: letter-spacing 400ms;
  transition: width, 2000ms;
}

.container:hover{
  width: 100%;
  letter-spacing: 30px;
  color: bisque;
  padding-bottom: 200px;
  
}

a:hover{
  transition:letter-spacing 500ms;
  letter-spacing: 0;
  color: limegreen;
  
}


section{
  /* column-count: 2; */
  visibility: hidden;
  font-size: 20px;
  letter-spacing: 0;
}

.container:hover section{
  visibility: visible;
  text-align: right;
}

section{
  padding-top: 100px;
}


.more{
  visibility: hidden;
  letter-spacing: 0;
  text-align: left;
}


.lastlink:hover .more{
  visibility: visible;
}

.portfolioDiv{
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
  box-sizing: content-box;
  background-image: linear-gradient(to left, rosybrown,wheat);
  padding-bottom: 200px;
  padding-right: 20px;
  transition: padding-bottom 600ms;
  transition: letter-spacing 400ms;
  transition: width, 2000ms;
  /* transition: width 600ms 600ms; */
}

.portfolioDiv:hover{
  background-color: wheat;
  width: 100%;
  letter-spacing: 30px;
  color: aliceblue;
  padding-bottom: 400px;
  
}

table, td, tr{
  padding: 20px;
  width: 60%;
  text-align: center;
}

th {
  border: 1px solid wheat;
  height: 10%;
}

tr:hover {
  background-color: khaki;
}

.overallInterests{
  padding-left: 60px;
  padding-bottom: 0px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, rgba(165, 42, 42, 0.479), linen);
  transition: 1000ms;
}

.overallInterests:hover{
  justify-content: center;
  width: 100%;
  background-image: linear-gradient();
  padding-bottom: 90px;
  /* transform: translate(80px,100px); */
}

td{
  visibility: hidden;
}

.firstRow{
  visibility: visible;
}

/* flames start here */
.overallInterests:hover + .firstRow{
  color: blueviolet;
}