.overall{
}
.name{
  padding-bottom: 30px;
}
.video{
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

#Wrapper{
  background-color:grey;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

nav {
  /* border: 1px solid wheat; */
  /* width: 0; */
  /* justify-content: center; */
  text-align: center;
  
}

a{
  color: bisque;
  list-style-image: none;
  transition: 5000ms
}

body {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-type: none;
  
  /* transform: translate(320px); */
}

.container{
  position: relative;
  text-align: center;
  justify-content: center;
  display: grid;
  width: 50%;
  letter-spacing: 0;
  padding: 0px;
  background-color: rgba(188, 143, 143, 0.172);
  transition: visibility, 3000ms;
  transition: letter-spacing 400ms;
  transition: width, 2000ms;
}

.container:hover{
  width: 100%;
  letter-spacing: 25px;
  color: bisque;
  /* padding-bottom: 271px;
   */
   padding-bottom: 23%;

  
}

a:hover{
  transition:letter-spacing 500ms;
  letter-spacing: 0;
  color: azure;
  /* background-clip: ; */
}


section{
  /* column-count: 2; */
  visibility: hidden;
  font-size: 20px;
  letter-spacing: 0;
}

.container:hover section{
  visibility: visible;
  text-align: right;
}

section{
  padding: 100px;
}


.more{
  visibility: hidden;
  letter-spacing: 0;
  text-align: left;
}



.portfolioDiv{
  position: relative;
  width: 50%;
  float: right;
  text-align: center;
  /* box-sizing: content-box; */
  background-image: linear-gradient(to left, rosybrown,wheat, 0.5);
  padding-bottom: 200px;
  /* padding-right: 20px; */
  transition: padding-bottom 600ms;
  transition: letter-spacing 400ms;
  transition: width, 2000ms 200ms;
  /* transition: width 600ms 600ms; */
}

.portfolioDiv:hover {
  background-color: rgba(245, 222, 179, 0.37);
  width: 100%;
  letter-spacing: 30px;
  color: aliceblue;
  padding-bottom: 619px;
}

table, td, tr{
  padding: 20px;
  width: 60%;
  text-align: center;
}

th {
  border: 1px solid wheat;
  height: 10%;
}

.overallInterests{
  position: relative;
  color: black;
  padding-bottom: 150px;
  letter-spacing: 0;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient( to right, rgba(255, 228, 196, 0.412), rgba(153, 45, 45, 0.104));
  transition: 1000ms 700ms;
  /* transition: background-image 1000ms 600ms; */
}

.overallInterests:hover{
  color: aliceblue;
  justify-content: center;
  letter-spacing: 20px;
  width: 100%;
  padding-bottom: 300px;
  /* transform: translate(80px,100px); */
  background-image: linear-gradient(to right, rgba(238, 82, 26, 0.111),rgba(188, 143, 143, 0.159));
}

/* .firstRow{
  color: blueviolet;
  /* text-decoration: dashed; */
/* } */ 

td{
  visibility: hidden;
}

.firstRow{
  visibility:visible;
}

/* flames start here */
.overallInterests:hover td{
  visibility:block;
  color: rgb(0, 0, 0);
}

.footer{
  color: aliceblue;
}

section{
  transition: letter-spacing 5000ms;
}
section:hover{
  letter-spacing: 15px;
  
}